<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">About Timer</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs nav-justified">
          <li class="active">
            <a href="#application" data-toggle="tab">Application</a>
          </li>
          <li>
            <a href="#reports" data-toggle="tab">Reports</a>
          </li>
          <li>
            <a href="#author" data-toggle="tab">Author</a>
          </li>
        </ul>
        <div class="info tab-content">
          <div class="tab tab-pane fade in active" id="application">
            <p>Application built mainly using</p>
            <ul>
              <li>
                <a href="https://github.com/BoilerplateMVC/Backbone-Require-Boilerplate" target="_blank" title="Backbone-Require-Boilerplate">
                  Backbone-Require-Boilerplate (BRB)
                </a>
              </li>
              <li>
                <a href="http://getbootstrap.com/" target="_blank" title="Bootstrap">
                  Bootstrap
                </a>
              </li>
            </ul>
            <p>
              Look at the project <a href="https://github.com/sljavi/Timer" target="_blank" title="Timer Project">
                on github
              </a>
            </p>
            <div class="row">
              <div class="col-xs-12 col-sm-3"><img src="img/require.png" alt="Require.js"/></div>
              <div class="col-xs-12 col-sm-3"><img src="img/backbone.png" alt="Backbone"/></div>
              <div class="col-xs-12 col-sm-3"><img src="img/boostrap.jpg" alt="Boostrap"/></div>
              <div class="col-xs-12 col-sm-3"><img src="img/github.png" alt="Github"/></div>
            </div>
          </div>
          <div class="reports tab fade tab-pane" id="reports">
            <p>
              <img src="img/plato.png" alt="Plato"/> Look at the 
              <a href="reports/index.html" target="_blank" title="JavaScript Source Analysis page">
                JavaScript Source Analysis page
              </a>
            </p>
          </div>
          <div class="author tab fade tab-pane" id="author">
            <p>
              <img src="img/javier.png" alt="Javier Perez" class="img-circle"/> 
              Application built by 
              <a href="http://javierperez.com.ar" target="_blank" title="Javier Perez">
                Javier Pérez
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>